
<div class="container compress" id="reset">
    <div class="container alert alert-success alert-dismissible" *ngIf="isChanged">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class="text-center">Password Updated Successfully</p>
    </div>
  <form class="form-group" [formGroup]="resetGroup">
    <h3 class="center">Reset Password:</h3>
    <div class="input-group">
      <i class=" fas fa-user input-group-addon"></i>
        <input
         name="email" 
         formControlName="email"
         class="form-control input-group-text" type="text" placeholder="Username/Email" #email>
    </div>
    <div class="alert alert-danger" *ngIf='r.email.touched && r.email.invalid'>
      <div *ngIf='r.email.errors.required || r.email.errors?.email || r.email.errors?.emailError'>
        Enter Proper email id.
      </div>
    </div>
    <div class="input-group">
        <i class=" fas fa-lock input-group-addon"></i>
        <input 
        name="password" 
        formControlName="password"
        class="form-control input-group-text" type="password" placeholder="New Password" #password>
    </div>
    <div class="input-group">
        <i class=" fas fa-lock input-group-addon"></i>
        <input 
        name="pwd_renter" 
        formControlName="pwd_renter"
        class="form-control input-group-text" type="password" placeholder="Confirm Password" #pwd_renter>
    </div>
        <div class="alert alert-danger" *ngIf="pwdMatch(password.value, pwd_renter.value)">
            Password Did not Match.
        </div>
        <div class="alert alert-danger" *ngIf='(r.password.invalid && r.password.touched) || (r.pwd_renter.invalid && r.pwd_renter.touched)'>
            <div id='password' *ngIf='r.password.errors?.required || r.password.errors?.minlength || r.pwd_renter.errors?.required || r.pwd_renter.errors?.minlength'>
              Password is required and min 6
            </div>
          </div>
    <button id="login" class="btn btn-success text-center" (click)="resetPwd(email.value, password.value)" type="submit"
    [disabled]='resetGroup.invalid'>Reset Password</button>
    <p>You can<a routerLink="/login"> login here.</a></p>
  </form>
</div>

<loader [message]="'Updating'"></loader>
