<!--The content below is only a placeholder and can be replaced.-->


<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top sticky-top">
    <span id="main-menu" [class]="isLoggedIn ? 'menu-position' : '' " style="color: white;"> Menu <i id="menu-icon" class= "fas fa-bars"></i></span>
    <a class="navbar-brand" routerLink="/profile" *ngIf="isLoggedIn"><img src="{{src}}" class=" img-fluid rounded-circle" id="nav-profile"> Welcome {{name}}</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" id="toggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse right" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a *ngIf="isLoggedIn" id="modal" class="nav-link" routerLink=""><i class="fas fa-bell"></i><i class="fas fa-circle dot"></i></a>
        </li>
        <li class="nav-item">
          <a *ngIf="isLoggedIn" class="nav-link" routerLink=""><i class="fas fa-tasks"></i><span></span></a>
        </li>
        <li class="nav-item">
          <a *ngIf="isLoggedIn" class="nav-link" routerLink=""><i class="fas fa-tools"></i><span></span></a>
        </li> 
        <li class="nav-item">
          <a *ngIf="isLoggedIn" class="nav-link" (click)="logout()" routerLink="/"><i class="fas fa-sign-out-alt"></i><span></span></a>
        </li>    
      </ul>
    </div> 
  </nav>

<!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-nowrap">
            <div class="row">
                <div class="col-sm-3 col-xs-3 col-3" *ngIf="obj.todayDate!=''">
                  <p>Date: {{obj.todayDate | removeYear}}</p>
                </div>
                <div class="col-sm-3 col-xs-3 col-3" *ngIf="obj.conversations!=''">
                    <p>Conv: {{obj.conversations}}</p>
                </div>
                <div class="col-sm-3 col-xs-3 col-3" *ngIf="obj.dtm!=''">
                    <p>DTM: {{obj.dtm}}</p>
                </div>
                <div class="col-sm-3 col-xs-3 col-3" *ngIf="obj.mg1!=''">
                    <p>MG1: {{obj.mg1}}</p>
                </div>
                <div class="col-sm-3 col-xs-3 col-3" *ngIf="obj.mg2!=''">
                    <p>MG2: {{obj.mg2}}</p>
                </div>
                <div class="col-sm-3 col-xs-3 col-3" *ngIf="obj.mg3!=''">
                    <p>MG3: {{obj.mg3}}</p>
                </div>
                <div class="col-sm-3 col-xs-3 col-3" *ngIf="obj.bp1!=''">
                    <p>BP1: {{obj.bp1}}</p>
                </div>
                <div class="col-sm-3 col-xs-3 col-3" *ngIf="obj.bp2!=''">
                    <p>Bp2: {{obj.bp2}}</p>
                </div>
                <div class="col-sm-3 col-xs-3 col-3" *ngIf="obj.ft1!=''">
                    <p>FT1: {{obj.ft1}}</p>
                </div>
                <div class="col-sm-3 col-xs-3 col-3" *ngIf="obj.ft2!=''">
                    <p>FT2: {{obj.ft2}}</p>
                </div>
                <div class="col-sm-3 col-xs-3 col-3" *ngIf="obj.preLaunch!=''">
                    <p>PreL: {{obj.preLaunch}}</p>
                </div>
                <div class="col-sm-3 col-xs-3 col-3" *ngIf="obj.launch!=''">
                    <p>Launch: {{obj.launch}}</p>
                </div>
                <div class="col-sm-3 col-xs-3 col-3" *ngIf="obj.others!=''">
                    <p>Others: {{obj.others}}</p>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="copy()">Copy to ClipBoard</button>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid" id="side-nav">
    <!-- col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 -->
    <div class="row">
        <nav class="nav-color navbar" id="nav-menu">
                <ul class="nav nav-pills row" id="loop">
                    <li id="exclude" class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="isLoggedIn">
                        <a class=" nav-link "  routerLink="profile"><img src="{{src}}" class=" img-fluid rounded-circle" id="sidenav-img"></a>
                    </li>
                    <li class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="dashboard">
                        <a class=" nav-link " routerLink="dashboard"><i class="fas fa-tachometer-alt"></i><span> DashBoard</span></a>
                    </li>
                    <!-- <li class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a class=" nav-link " routerLink=""><i class="fas fa-calendar-check"></i><span> Check-in</span></a>
                    </li>
                    <li class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a class=" nav-link " routerLink=""><i class="fas fa-stopwatch"></i><span> Reminders</span></a>
                    </li>
                    <li class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <a class=" nav-link " routerLink=""><i class="fas fa-chart-area"></i><span> Progress</span></a>
                    </li> -->
                    <li class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="training">
                      <a class=" nav-link " routerLink="sharedTalks"><i class="fas fa-file-audio"></i><span> Training</span></a>
                    </li>
                    <li class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="profile">
                      <a class=" nav-link " routerLink="profile"><i class="fas fa-user"></i><span> Profile</span></a>
                    </li>
                    <li class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="profile" *ngIf = "isAdmin == 'true' && isLoggedIn">
                      <a class=" nav-link " routerLink=""><i class="fas fa-chart-line"></i><span>Team Stats</span></a>
                    </li>
                </ul>
        </nav>

        <!-- class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9" -->
        <div id="main-body">
            <router-outlet></router-outlet>

        </div>
    
    </div>
</div>
  
  <footer class="footer bg-dark">

    <!-- Copyright -->
    <div class="container text-muted text-center ">© 2020 Copyright:
      <a href="https://narenpalep.herokuapp.com/"> Naren Palep</a>
    </div>
    <!-- Copyright -->
  
  </footer>

