// @import "/Users/narenpalep/Desktop/Angular:AngularJS/Angular2/team-project/src/app/home/home.component.less";
@phone: 576px;
@tablet: 768px;
@laptop: 1200px;
@small: 350px;

// i#icon-search{
//     position: relative;
//     padding: 11px;
//     left: 4px;
//     background-color:rgb(9, 90, 240);
//     color: black;
//     border-radius: 5px 5px;
    
// }

#warning{
  font-size: 12px;
  margin-top: 10px;
}
#warning::before{
  content: "*";
  color: red;
}

// div#search{
//     margin-top: 20px;
// }

.bar rect {
    shape-rendering: crispEdges;
  }
  
  .bar text {
    fill: #999999;
  }
  
  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  #weather{
    margin-top: 20px;
    margin-left: 80px;
  }

  #graph{
    position: relative;
    left: -50px;
    margin-bottom: 20px;
  }

div#form{
  position: relative;
  top: 100px;
  transform: translate(10%,-20%);
  background-color: bisque;
  height: 450px;
  padding: 20px;
  margin-bottom: 50px;
}

#filter{
  width: 150px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.date-range{
  margin-left: 50px;
}
.label{
  margin-top: 20px;
  margin-left: 50px;
}

input[type="button"]{
  position: relative;
  top: 32px;
  margin-bottom: 10px !important;
}

.table{
  margin-left: 50px;
  overflow-y: scroll;
  height: 345px;
}


@media only screen and (max-width: 770px){
  input[type="button"]{
    top: 20px;
    width: 80px !important;
  }
}


@media only screen and (max-width: @small){

  div#form{
    background-color: bisque;
    position: relative;
    top: 100px;
    left: 10%;
    margin-bottom: 40px;
    padding: 10px;
    transform: translate(0%,-20%);
  }

  #warning{
    font-size: 8px;
    margin-top: 10px;
  }


    
    
}

@media only screen and (max-width: @phone){
  input:not([type="date"]) {

    width: 50px;
  }
}

@media only screen and (min-width:@small) and (max-width: @phone){

    
  div#form{
    background-color: bisque;
    position: relative;
    top: 100px;
    left: 10%;
    margin-bottom: 40px;
    padding: 10px;
    transform: translate(0%,-20%);
  }

  #warning{
    font-size: 8px;
    margin-top: 10px;
  }

  
}

@media only screen and (min-width: @phone) and (max-width: @tablet) {

  div#form{
    background-color: bisque;
    position: relative;
    right: 1%;
  }
  #warning{
    font-size: 10px;
    margin-top: 10px;
  }

    
}

@media only screen and (min-width: @tablet) and (max-width: @laptop) {

    
}
