@margin: 10px;
@phone: 576px;
@tablet: 768px;
@laptop: 1200px;
@small: 350px;
.compress{
    width: 300px;
    margin: 151px auto;
    background-color: rgba(231, 120, 16, 0.2);
    padding: 50px;
    -webkit-box-sizing: border-box;
    box-shadow:3px 3px 5px grey;
}

.center,p{
    text-align: center;
    position: relative;
    left: -15px;
}

.custome{
    border-radius: 5px 5px;
    margin-top: @margin;
    
}
form{
    position: relative;
    top: 20px;
    left: 20px;
}

button{

    margin: @margin auto;
    position: relative;
    left: 55px;

}

button.close{
    position: absolute;
    top:-25px;
    left:80%;
}


i{
    background-color:rgba(255, 117, 168, 0.4);;
    border-radius: 5px 5px;
    margin-top: @margin;
    position: absolute;
    padding: 11px;
    left: -33px;
}

input{
    .custome();
    
}

#remember{
    position: absolute;
    margin-left: 20px;
    top:5px;

}

select{
    .custome();
}

#loading{
    position: absolute;
    transform: translate(50%,-50%);
    top: 50%;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: black;
    opacity: 0.5 !important;
    padding: 10px;
 
}
#loading > p {
    position: absolute;
    transform: translate(10%,-50%);
    top: 25%;
    font-size: 12px;
    margin: 0 auto;
    opacity: 0.8 !important;
    color: white;
}

#spinner{
    position: relative;
    left: 33%;
    top:50%;
    bottom: 33%;
    right: 33%;
    // transform: translate(50%, 50%);
    opacity: 1 !important;
    margin: 0 auto;
}

@media only screen and (max-width: @small){

    .compress{
        width: auto;
    }
    button{
        width: auto;
        margin: @margin auto;
        position: relative;
        left: 15px;
    }

}
@media only screen and (min-width:@small) and (max-width: @phone){
    
    .compress{
        width: auto;
    }

    button{
        width: auto;
        margin: @margin auto;
        position: relative;
        left: 43px;
    }
   

}


@media only screen and (min-width: @phone) and (max-width: @tablet) {

    .compress{
        width: 300px;
    }
}

@media only screen and (min-width: @tablet) and (max-width: @laptop) {
    .compress{
        width: 300px;
    }
    
}

