
<div class="container compress">
    <div class="container alert alert-danger alert-dismissible" *ngIf="!isLoggedIn">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class="text-justify">Username/Password incorrect!</p>
    </div>
  <form class="form-group" [formGroup]="formGroup">
    <h3 class="center">Login:</h3>
    <div class="input-group">
      <i class=" fas fa-user input-group-addon"></i>
        <input
         name="email" 
         formControlName="email"
         class="form-control input-group-text" type="text" placeholder="Username/Email" #email>
    </div>
    <div class="alert alert-danger" *ngIf='f.email.touched && f.email.invalid'>
      <div *ngIf='f.email.errors.required || f.email.errors?.email || f.email.errors?.emailError'>
        Enter Proper email id.
      </div>
    </div>
    <div class="input-group">
        <i class=" fas fa-lock input-group-addon"></i>
        <input 
        name="password" 
        formControlName="password"
        class="form-control input-group-text" type="password" placeholder="Password" #password>
    </div>
    <div class="input-group">
        <input type="checkbox"
        name="rememberMe"
        formControlName="rememberMe"
        (change)='isChecked($event)' #remember><span id="remember"
        >Remember Me</span>
    </div>
    <button id="login" class="btn btn-success text-center" (click)="auth(email.value, password.value)" type="submit"
    [disabled]='f.email.invalid'>login</button>
    <p>Are you new user?<a routerLink="/register"> signup here.</a></p>
  </form>
  <div *ngIf="isLoading" id="loading">
      <p class="text-center">Checking Credentials...</p>
      <div class="spinner-border text-primary" id="spinner"></div>
  </div>
</div>
