<div class="container compress">
  <form class="form-group" [formGroup]= "registerGroup">
      <h3 class="center">Register:</h3>
      <div class="input-group">
          <i class=" fas fa-user input-group-addon"></i>
            <input 
            name="first_name" 
            formControlName="first_name"
            class="form-control input-group-text col-6 col-sm-6 col-md-6 col-lg-6" type="text" placeholder="First name" #first_name>&nbsp;&nbsp;
            <input 
            name="last_name" 
            formControlName="last_name"
            class="form-control input-group-text col-6 col-sm-6 col-md-6 col-lg-6" type="text" placeholder="Last name" #last_name>
      </div>
    <div class="input-group">
      <i class=" fas fa-at input-group-addon"></i>
        <input 
        name="email" 
        formControlName="email"
        class="form-control input-group-text" type="text" placeholder="Email" #email>
    </div>
    <div class="input-group">
        <i class=" fas fa-user input-group-addon"></i>
          <input 
          name="username" 
          formControlName="username"
          class="form-control input-group-text" type="text" placeholder="Username" #username>
      </div>
    <div class="input-group">
        <i class=" fas fa-lock input-group-addon"></i>
        <input 
        name="password" 
        formControlName="password"
        class="form-control input-group-text" type="password" placeholder="Password" #password>
    </div>
    <div class="input-group">
      <i class=" fas fa-lock input-group-addon"></i>
      <input 
      name="cmp_password" 
      formControlName="cmp_password"
      class="form-control input-group-text" type="password" placeholder="Re-enter Password" #cmp_password>
   </div>
   <div class="input-group">
      <i class=" fas fa-user-tag input-group-addon"></i>
      <select
      id="role"
      name="role"
      formControlName="role"
      class="form-control input-group-text" #role>
      <option value="default" selected aria-selected="true">----Select your Pin----</option>
      <option value="ibo">IBO</option>
      <option value="silver">Silver</option>
      <option value="Eagle">Eagle</option>
      <option value="platinum">Platinum</option>
      <option value="ruby">Ruby</option>
      <option value="emerald">Emerald</option>
      <option value="diamond">Diamond</option>
      <option value="edc">EDC</option>
      <option value="crown">Crown</option>
    </select>
   </div>
   <div class="input-group">
      <i class=" fas fa-user-plus input-group-addon"></i>
      <input 
      name="upline" 
      formControlName="upline"
      class="form-control input-group-text" type="text" placeholder="Upline name" #upline>
   </div>
   <div *ngIf='registerGroup.invalid'>
      <div class="alert alert-danger" id="error" *ngIf="comparePwd(password.value, cmp_password.value)">
        Passwords not match!
      </div>
      <div class="alert alert-danger" *ngIf='reg.first_name.invalid && reg.first_name.touched'>
        <div id='fname' *ngIf='reg.first_name.errors.required'>
          First Name is Required
        </div>
      </div>
      
      <div class="alert alert-danger" *ngIf='reg.last_name.invalid && reg.last_name.touched'>
        <div id='lname' *ngIf='reg.last_name.errors.required'>
          Last Name is Required
        </div>
      </div>

      <div class="alert alert-danger" *ngIf='reg.email.invalid && reg.email.touched'>
        <div id='email' *ngIf='reg.email.errors.required || reg.email.errors?.email ||  reg.email.errors?.emailError'>
          Enter Proper Email ID.
        </div>
      </div>

      <div class="alert alert-danger" *ngIf='reg.username.invalid && reg.username.touched'>
        <div id='username' *ngIf='reg.username.errors.required || reg.username.errors?.minlength ||  reg.email.errors?.maxlength || reg.username.errors?.userNameError'>
          Username must be btw 6-15 chars length and alphanumeric.
        </div>
      </div>

      <div class="alert alert-danger" *ngIf='(reg.password.invalid && reg.password.touched) || (reg.cmp_password.invalid && reg.cmp_password.touched)'>
        <div id='password' *ngIf='reg.password.errors?.required || reg.password.errors?.minlength || reg.cmp_password.errors?.required || reg.cmp_password.errors?.minlength'>
          Password is required and min 6
        </div>
      </div>

      <div class="alert alert-danger" *ngIf='reg.role.invalid && reg.role.touched'>
        <div id='role' *ngIf='reg.role.errors.required'>
          Role is Required
        </div>
      </div>

      <div class="alert alert-danger" *ngIf='reg.upline.invalid && reg.upline.touched'>
        <div id='upline' *ngIf='reg.upline.errors.required'>
          Upline is Required
        </div>
      </div>
   </div>
    <button id="register" class="btn btn-success" (click)="register(first_name.value, last_name.value, email.value, username.value, password.value, role.value, upline.value)" 
    [disabled]='registerGroup.invalid' type="submit">Register</button>
    <p>Have an account already?<a routerLink="/"> login here.</a></p>
  </form>
</div>
<loader [message]="'Saving'"></loader>
